/local.properties
/.idea/libraries
/.idea/caches/
/.idea/modules/
/build
/app/build
cache.properties
cache.properties.lock
fileHashes.bin
fileSnapshots.bin
outputFileStates.bin
taskArtifacts.bin
workspace.xml
.gradle
